body{
    background-color: rgb(250, 241, 249);
}

#profile-wrapper{
    text-align: center; 
}

#profile-pic{
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    margin-left: auto; 
    margin-right: auto; 
}

ul{
    padding: 0;
    list-style-type: none;
}

.socials ul, li{
    list-style-type: none;
    display: inline-block;
}
.socials li{
    width: 100px;
    height: 100px;   
}

